<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navFragment">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active">
			<a th:classappend="${#httpServletRequest.getRequestURI() == '/ropi1' ? 'nav-link active':''}" th:href="@{/ropi1/list/1}">ROPI 1</a>
 		</li>
 		<li role="presentation">
			<a th:classappend="${#httpServletRequest.getRequestURI() == '/ropi6' ? 'nav-link active':''}" th:href="@{/ropi6/list/1}">ROPI 6</a>
		</li>
		<li role="presentation">
			<a th:classappend="${#httpServletRequest.getRequestURI() == '/ropi7' ? 'nav-link active':''}" th:href="@{/ropi7/list/1}">ROPI 7</a>
		</li>
	</ul>
</div>

</html>
<script>
  $(document).ready(function() {
    $( ".mr-auto .nav-link" ).bind( "click", function(event) {
      event.preventDefault();
      var clickedItem = $( this );
      $( ".mr-auto .nav-link" ).each( function() {
        $( this ).removeClass( "active" );
      });
      clickedItem.addClass( "active" );
    });
  });
</script>