<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <div th:replace="/summary/layout/header :: headerFragment"></div>
</head>
<body>
<div class="container my-2">
    <div th:replace="/summary/layout/nav :: navFragment"></div>
    <h1>Management System</h1>
    <hr>
    <h2>Save Summary</h2>

    <form name="saveSummary" action="#" th:action="@{/add}" th:object="${list}" method="POST">
        <input type="text" id="symbol" th:field="*{symbol}" placeholder="symbol" class="form-control mb-4 col-4">
        <input type="text" id="countrycode" th:field="*{countrycode}" placeholder="countrycode" class="form-control mb-4 col-4">
        <input type="text" id="sectorcode" th:field="*{sectorcode}" placeholder="sectorcode" class="form-control mb-4 col-4">
        <input type="text" id="industrycode" th:field="*{industrycode}" placeholder="industrycode" class="form-control mb-4 col-4">
        <input type="text" id="koname" th:field="*{koname}" placeholder="koname" class="form-control mb-4 col-4" maxlength="100">
        <input type="text" id="enname" th:field="*{enname}" placeholder="enname" class="form-control mb-4 col-4" maxlength="100">
        <input type="text" id="cnname" th:field="*{cnname}" placeholder="cnname" class="form-control mb-4 col-4" maxlength="100">
        <input type="text" id="kosummary" th:field="*{kosummary}" placeholder="kosummary" class="form-control mb-4 col-4" maxlength="3000">
        <input type="text" id="ensummary" th:field="*{ensummary}" placeholder="ensummary" class="form-control mb-4 col-4" maxlength="3000">
        <input type="text" id="cnsummary" th:field="*{cnsummary}" placeholder="cnsummary" class="form-control mb-4 col-4" maxlength="3000">
        <input type="text" id="jpsummary" th:field="*{jpsummary}" placeholder="jpsummary" class="form-control mb-4 col-4" maxlength="3000">
        <input type="text" id="tradunit" th:field="*{tradunit}" placeholder="tradunit" class="form-control mb-4 col-4">
        <input type="text" id="nationcode" th:field="*{nationcode}" placeholder="nationcode" class="form-control mb-4 col-4">
        <input type="text" id="nationkoname" th:field="*{nationkoname}" placeholder="nationkoname" class="form-control mb-4 col-4" maxlength="50">
        <input type="text" id="nationenname" th:field="*{nationenname}" placeholder="nationenname" class="form-control mb-4 col-4" maxlength="50">
        <input type="text" id="nationcnname" th:field="*{nationcnname}" placeholder="nationcnname" class="form-control mb-4 col-4" maxlength="50">
        <input type="text" id="nationjpname" th:field="*{nationjpname}" placeholder="nationjpname" class="form-control mb-4 col-4" maxlength="50">

        <button type="button" onclick="form_check()" class="btn btn-info col-2"> Save Summary</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Summary List</a>
</div>
</body>
</html>
<script>
    function form_check(){
        var symbol = document.getElementById("symbol");
        var countrycode = document.getElementById("countrycode");
        var sectorcode = document.getElementById("sectorcode");
        var industrycode = document.getElementById("industrycode");
        var tradunit = document.getElementById("tradunit");
        var nationcode = document.getElementById("nationcode");
        var reg = /^[0-9]+/g;
        var symbolCheck = /^(?=.{1,16}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var countrycodeCheck = /^(?=.{0,1}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var sectorcodeCheck = /^(?=.{0,4}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var industrycodeCheck = /^(?=.{0,4}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var nationcodeCheck = /^(?=.{0,2}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        if(symbol.value ==""){
            alert("SYMBOL 값을 입력하세요.");
            symbol.focus();
            return false;
        };

        if(!symbolCheck.test(symbol.value)){
            alert("16자리까지 입력 가능합니다.");
            symbol.focus();
            return false;
        };

        if(countrycode.value ==""){
            alert("COUNTRYCODE 값을 입력하세요.");
            countrycode.focus();
            return false;
        };

        if(!countrycodeCheck.test(countrycode.value)){
            alert("1자리까지 입력 가능합니다.");
            countrycode.focus();
            return false;
        };

        if(!sectorcodeCheck.test(sectorcode.value)){
            alert("4자리까지 입력 가능합니다.");
            sectorcode.focus();
            return false;
        };

        if(!industrycodeCheck.test(industrycode.value)){
            alert("4자리까지 입력 가능합니다.");
            industrycode.focus();
            return false;
        };


        if(!nationcodeCheck.test(nationcode.value)){
            alert("2자리까지 입력 가능합니다.");
            nationcode.focus();
            return false;
        };

        if(!reg.test(tradunit.value)){
            alert("숫자만 입력하세요.");
            tradunit.focus();
            return false;
        };
        document.saveSummary.submit();
    }
</script>