<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
</head>
<body>
    <div th:replace="/summary/layout/header :: headerFragment"></div>
<div class="container my-2">
    <div th:replace="/summary/layout/nav :: navFragment"></div>
    <hr>
    <h2>기업개요 추가</h2>
	<hr>
    <form name="saveSummary" id="form" th:action="@{/add}" th:object="${list}" method="POST">
        <b>데이터를 추가할 서버를 선택해주세요.</b>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="server" id="server1" value="1">
            <label class="form-check-label" for="server1"><b>ROPI 1</b></label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="server" id="server2" value="2">
            <label class="form-check-label" for="server2"><b>ROPI 2</b></label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" name="server" id="server3" value="3">
            <label class="form-check-label" for="server3"><b>ROPI 3</b></label>
        </div>
        
        <div class="row mb-3">
        	<label class="col-sm-1 col-form-label">symbol</label>
	        <div class="col-sm-3">
	        	<input type="text" id="symbol" th:field="*{symbol}" placeholder="symbol" class="form-control">
	        </div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">countrycode</label>
        	<div class="col-sm-3">
        		<input type="text" id="countrycode" th:field="*{countrycode}" placeholder="countrycode" class="form-control">
        	</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">sectorcode</label>
        	<div class="col-sm-3">
        		<input type="text" id="sectorcode" th:field="*{sectorcode}" placeholder="sectorcode" class="form-control">
       		</div>
		</div>
		
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">industrycode</label>
        	<div class="col-sm-3">
        		<input type="text" id="industrycode" th:field="*{industrycode}" placeholder="industrycode" class="form-control">
     		</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">koname</label>
        	<div class="col-sm-3">
        		<input type="text" id="koname" th:field="*{koname}" placeholder="koname" class="form-control" maxlength="100">
        	</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">enname</label>
        	<div class="col-sm-3">
        		<input type="text" id="enname" th:field="*{enname}" placeholder="enname" class="form-control" maxlength="100">
        	</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">cnname</label>
        	<div class="col-sm-3">
        		<input type="text" id="cnname" th:field="*{cnname}" placeholder="cnname" class="form-control" maxlength="100">
       		</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">kosummary</label>
        	<div class="col-sm-3">
        		<input type="text" id="kosummary" th:field="*{kosummary}" placeholder="kosummary" class="form-control" maxlength="3000">
       		</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">ensummary</label>
        	<div class="col-sm-3">
        		<input type="text" id="ensummary" th:field="*{ensummary}" placeholder="ensummary" class="form-control" maxlength="3000">
       		</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">cnsummary</label>
        	<div class="col-sm-3">
        		<input type="text" id="cnsummary" th:field="*{cnsummary}" placeholder="cnsummary" class="form-control" maxlength="3000">
       		</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">jpsummary</label>
			<div class="col-sm-3">
				<input type="text" id="jpsummary" th:field="*{jpsummary}" placeholder="jpsummary" class="form-control" maxlength="3000">
			</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">tradunit</label>
			<div class="col-sm-3">
				<input type="text" id="tradunit" th:field="*{tradunit}" placeholder="tradunit" class="form-control">
			</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">nationcode</label>
			<div class="col-sm-3">
				<input type="text" id="nationcode" th:field="*{nationcode}" placeholder="nationcode" class="form-control">
			</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">nationkoname</label>
			<div class="col-sm-3">
				<input type="text" id="nationkoname" th:field="*{nationkoname}" placeholder="nationkoname" class="form-control" maxlength="50">
			</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">nationenname</label>
			<div class="col-sm-3">
				<input type="text" id="nationenname" th:field="*{nationenname}" placeholder="nationenname" class="form-control" maxlength="50">
			</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">nationcnname</label>
			<div class="col-sm-3">
				<input type="text" id="nationcnname" th:field="*{nationcnname}" placeholder="nationcnname" class="form-control" maxlength="50">
			</div>
        </div>
        
        <div class="row mb-3">
			<label class="col-sm-1 col-form-label">nationjpname</label>
			<div class="col-sm-3">
				<input type="text" id="nationjpname" th:field="*{nationjpname}" placeholder="nationjpname" class="form-control" maxlength="50">
			</div>
        </div>

        <button type="button" onclick="form_check()" class="btn btn-info col-2"> Save Summary</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Summary List</a>
</div>
</body>
</html>
<script th:inline="javascript">
    /* <![CDATA[ */
    function form_check(){

        var checkServer = "";
        $( "input[name='server']:checked" ).each (function (){
            checkServer = checkServer + $(this).val()+",";
        });
        checkServer = checkServer.substring(0,checkServer.lastIndexOf( ",")); //맨끝 콤마 지우기
        console.log(checkServer);
        if (checkServer == ""){
            alert("서버를 선택해주세요.")
            return false;
        }

        var symbol = document.getElementById("symbol");
        var countrycode = document.getElementById("countrycode");
        var sectorcode = document.getElementById("sectorcode");
        var industrycode = document.getElementById("industrycode");
        var tradunit = document.getElementById("tradunit");
        var nationcode = document.getElementById("nationcode");
        var reg = /^[0-9]+/g;
        var symbolCheck = /^(?=.{1,16}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var countrycodeCheck = /^(?=.{0,1}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var sectorcodeCheck = /^(?=.{0,4}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var industrycodeCheck = /^(?=.{0,4}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        var nationcodeCheck = /^(?=.{0,2}$)[a-zA-Z0-9]*[^$%^&*;:,<>?()\"']*$/;
        if(symbol.value ==""){
            alert("SYMBOL 값을 입력하세요.");
            symbol.focus();
            return false;
        };

        if(!symbolCheck.test(symbol.value)){
            alert("16자리까지 입력 가능합니다.");
            symbol.focus();
            return false;
        };

        if(countrycode.value ==""){
            alert("COUNTRYCODE 값을 입력하세요.");
            countrycode.focus();
            return false;
        };

        if(!countrycodeCheck.test(countrycode.value)){
            alert("1자리까지 입력 가능합니다.");
            countrycode.focus();
            return false;
        };

        if(!sectorcodeCheck.test(sectorcode.value)){
            alert("4자리까지 입력 가능합니다.");
            sectorcode.focus();
            return false;
        };

        if(!industrycodeCheck.test(industrycode.value)){
            alert("4자리까지 입력 가능합니다.");
            industrycode.focus();
            return false;
        };


        if(!nationcodeCheck.test(nationcode.value)){
            alert("2자리까지 입력 가능합니다.");
            nationcode.focus();
            return false;
        };

        if(!reg.test(tradunit.value)){
            alert("숫자만 입력하세요.");
            tradunit.focus();
            return false;
        };

        var url = /*[[ @{/add/} ]]*/;
        var addr = url + checkServer;
        console.log(addr);
        $("#form").attr("action",addr );
        document.saveSummary.submit();
    }
    /* ]]> */
</script>