<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<script src="/js/summaryDetail.js" defer></script>
</head>
<body>
<div class="container my-2">
    <div th:replace="/summary/layout/header :: headerFragment"></div>
    <div th:replace="/summary/layout/nav :: navFragment"></div>

    <div class="table-responsive">
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>SYMBOL</th>
            <th>COUNTRYCODE</th>
            <th>SECTORCODE</th>
            <th>INDUSTRYCODE</th>
            <th>TRADUNIT</th>
            <th>NATIONCODE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="col:${summary}" style="cursor: pointer">
            <td th:text="${col.symbol}"></td>
            <td th:text="${col.countrycode}"></td>
            <td th:text="${col.sectorcode}"></td>
            <td th:text="${col.industrycode}"></td>
            <td th:text="${col.tradunit}"></td>
            <td th:text="${col.nationcode}"></td>

        </tr>
        </tbody>
    </table>
    </div>
    <h5>KONAME</h5>
    <h6 th:text="${summary.koname}"></h6><br>
    <h5>ENNAME</h5>
    <h6 th:text="${summary.enname}"></h6><br>
    <h5>CNNAME</h5>
    <h6 th:text="${summary.cnname}"></h6><br>
    <h5>KOSUMMARY</h5>
    <h6 th:text="${summary.kosummary}"></h6><br>
    <h5>ENSUMMARY</h5>
    <h6 th:text="${summary.ensummary}"></h6><br>
    <h5>CNSUMMARY</h5>
    <h6 th:text="${summary.cnsummary}"></h6><br>
    <h5>JPSUMMARY</h5>
    <h6 th:text="${summary.jpsummary}"></h6><br>
    <h5>NATIONKONAME</h5>
    <h6 th:text="${summary.nationkoname}"></h6><br>
    <h5>NATIONENNAME</h5>
    <h6 th:text="${summary.nationenname}"></h6><br>
    <h5>NATIONCNNAME</h5>
    <h6 th:text="${summary.nationcnname}"></h6><br>
    <h5>NATIONJPNAME</h5>
    <h6 th:text="${summary.nationjpname}"></h6><br>
    <br>
    
    <form method="post" id="summaryForm">
    	<input type="hidden" name="database" th:id="database" th:value="${database}">
    	<input type="hidden" name="symbol" th:field="*{summary.symbol}">
    	<input type="hidden" name="countrycode" th:field="*{summary.countrycode}">
    	<button type="button" class="btn btn-primary" onclick="updateSummary();">update</button>
    	<button type="button" class="btn btn-danger" onclick="deleteSummary();">delete</button>
    </form>
    <br><br><br>
    <a href="javascript:history.back()">돌아가기</a>

	<form method="POST" id="copyForm" th:action="@{/copySummary/{database} (database=${database})}" >
		<input type="checkbox" name="inputCheck[]" value="ropi1">ropi1
		<input type="checkbox" name="inputCheck[]" value="ropi6">ropi6
		<input type="checkbox" name="inputCheck[]" value="ropi7">ropi7
		<input type="hidden" id="selectedDB" name="selectedDB">
		<input type="hidden" name="symbol" th:field="*{summary.symbol}">
		<input type="hidden" name="countrycode" th:field="*{summary.countrycode}">
		<button type="button" onclick="copySummary();">copy</button>
	</form>
</div>
</body>

</html>
<script>
    
</script>