<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<script src="/js/summaryForm.js" defer></script>
</head>
<body>
<div class="container">
    <div th:replace="/summary/layout/header :: headerFragment"></div>
    <div th:replace="/summary/layout/nav :: navFragment"></div>
    <hr>
    <h2>기업개요 추가</h2>
	<hr>
    <form name="saveSummary" id="form" th:action="@{/{database}/add (database=${database})}" th:object="${summary}" method="POST">
        <b>데이터를 추가할 서버를 선택해주세요.</b>
        <input type="checkbox" name="inputCheck[]" value="ropi1">ropi1
		<input type="checkbox" name="inputCheck[]" value="ropi6">ropi6
		<input type="checkbox" name="inputCheck[]" value="ropi7">ropi7
		<input type="hidden" id="selectedDB" name="selectedDB">
		
        <div class="row">
        	<label class="col-sm-1">symbol</label>
	        <div class="col-sm-3">
	        	<input type="text" id="symbol" th:field="*{symbol}" placeholder="symbol" class="form-control">
	        </div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">countrycode</label>
        	<div class="col-sm-3">
        		<input type="text" id="countrycode" th:field="*{countrycode}" placeholder="countrycode" class="form-control">
        	</div>
        </div>

		<div class="row">
			<label class="col-sm-1">sectorcode</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" id="sectorName" th:field="*{kosectorname}" readonly>
				<input type="hidden" id="sectorcode" th:field="*{sectorcode}">
			</div>
			<div class="col-sm-1">
		        <div class="dropdown">
		        	<button class="btn btn-default dropdown-toggle btn-block" type="button" id="sectorDropdown" data-toggle="dropdown" aria-expanded="true">
		        		<span id="sectorList">선택</span> <span class="caret"></span>
		        	</button>
		        	<ul class="dropdown-menu" role="menu" aria-labelledby="sectorDropdown">
		        		<li th:each="sector:${sectorList}">
		        			<!--/* <a class="sectorList" role="menuitem" tabindex="-1" href="#" th:text="'(' + ${sector.sectorcode} + ') ' + ${sector.kosectorname}" th:data-value="${sector.sectorcode}"></a> */-->
		        			<a class="sectorList" role="menuitem" tabindex="-1" href="#" th:text="${sector.kosectorname}" th:data-value="${sector.sectorcode}"></a>
		        		</li>
		        	</ul>
		        </div>
			</div>
		</div>
		
		<div class="row">
			<label class="col-sm-1 ">industrycode</label>
			<div class="col-sm-2">
				<input class="form-control" type="text" id="industryName" th:field="*{koindustryname}" readonly>
				<input type="hidden" id="industrycode" th:field="*{industrycode}">
			</div>
			<div class="col-sm-1">	
		        <div class="dropdown">
		        	<button class="btn btn-default dropdown-toggle btn-block" type="button" id="industryDropdown" data-toggle="dropdown" aria-expanded="true">
		        		<span id="industryList">선택</span> <span class="caret"></span>
		        	</button>
		        	<ul class="dropdown-menu" role="menu" aria-labelledby="industryDropdown">
		        		<li th:each="industry:${industryList}">
		        			<!--/* <a class="industryList" role="menuitem" tabindex="-1" href="#" th:text="'(' + ${industry.industrycode} + ') ' + ${industry.koindustryname}" th:data-value="${industry.industrycode}"></a> */-->
		        			<a class="industryList" role="menuitem" tabindex="-1" href="#" th:text="${industry.koindustryname}" th:data-value="${industry.industrycode}"></a>
		        		</li>
		        		
		        	</ul>
		        </div>
			</div>
		</div>
		
        <div class="row">
			<label class="col-sm-1 ">koname</label>
        	<div class="col-sm-3">
        		<input type="text" id="koname" th:field="*{koname}" placeholder="koname" class="form-control" maxlength="100">
        	</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">enname</label>
        	<div class="col-sm-3">
        		<input type="text" id="enname" th:field="*{enname}" placeholder="enname" class="form-control" maxlength="100">
        	</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">cnname</label>
        	<div class="col-sm-3">
        		<input type="text" id="cnname" th:field="*{cnname}" placeholder="cnname" class="form-control" maxlength="100">
       		</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">kosummary</label>
        	<div class="col-sm-3">
        		<input type="text" id="kosummary" th:field="*{kosummary}" placeholder="kosummary" class="form-control" maxlength="3000">
       		</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">ensummary</label>
        	<div class="col-sm-3">
        		<input type="text" id="ensummary" th:field="*{ensummary}" placeholder="ensummary" class="form-control" maxlength="3000">
       		</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">cnsummary</label>
        	<div class="col-sm-3">
        		<input type="text" id="cnsummary" th:field="*{cnsummary}" placeholder="cnsummary" class="form-control" maxlength="3000">
       		</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">jpsummary</label>
			<div class="col-sm-3">
				<input type="text" id="jpsummary" th:field="*{jpsummary}" placeholder="jpsummary" class="form-control" maxlength="3000">
			</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">tradunit</label>
			<div class="col-sm-3">
				<input type="text" id="tradunit" th:field="*{tradunit}" placeholder="tradunit" class="form-control">
			</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">nationcode</label>
			<div class="col-sm-3">
				<input type="text" id="nationcode" th:field="*{nationcode}" placeholder="nationcode" class="form-control">
			</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">nationkoname</label>
			<div class="col-sm-3">
				<input type="text" id="nationkoname" th:field="*{nationkoname}" placeholder="nationkoname" class="form-control" maxlength="50">
			</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">nationenname</label>
			<div class="col-sm-3">
				<input type="text" id="nationenname" th:field="*{nationenname}" placeholder="nationenname" class="form-control" maxlength="50">
			</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">nationcnname</label>
			<div class="col-sm-3">
				<input type="text" id="nationcnname" th:field="*{nationcnname}" placeholder="nationcnname" class="form-control" maxlength="50">
			</div>
        </div>
        
        <div class="row">
			<label class="col-sm-1 ">nationjpname</label>
			<div class="col-sm-3">
				<input type="text" id="nationjpname" th:field="*{nationjpname}" placeholder="nationjpname" class="form-control" maxlength="50">
			</div>
        </div>

        <button type="button" onclick="form_check()" class="btn btn-info col-2"> Save Summary</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Summary List</a>
</div>
</body>
</html>