<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <div th:replace="/summary/layout/header :: headerFragment"></div>
</head>
<body>
<div class="container my-2">
  <div th:replace="/summary/layout/nav :: navFragment"></div>
  <h1>Management System</h1>
  <hr>
  <h2>Save Summary</h2>

  <form action="#" th:action="@{/update}" th:object="${list}" method="POST">
    <input type="text" th:field="*{symbol}" placeholder="symbol" class="form-control mb-4 col-4">

    <input type="text" th:field="*{countrycode}" placeholder="countrycode" class="form-control mb-4 col-4">

    <input type="text" th:field="*{sectorcode}" placeholder="sectorcode" class="form-control mb-4 col-4">
    <input type="text" th:field="*{industrycode}" placeholder="industrycode" class="form-control mb-4 col-4">
    <input type="text" th:field="*{koname}" placeholder="koname" class="form-control mb-4 col-4">
    <input type="text" th:field="*{enname}" placeholder="enname" class="form-control mb-4 col-4">
    <input type="text" th:field="*{cnname}" placeholder="cnname" class="form-control mb-4 col-4">
    <input type="text" th:field="*{kosummary}" placeholder="kosummary" class="form-control mb-4 col-4">
    <input type="text" th:field="*{ensummary}" placeholder="ensummary" class="form-control mb-4 col-4">
    <input type="text" th:field="*{cnsummary}" placeholder="cnsummary" class="form-control mb-4 col-4">
    <input type="text" th:field="*{jpsummary}" placeholder="jpsummary" class="form-control mb-4 col-4">
    <input type="text" th:field="*{tradunit}" placeholder="tradunit" class="form-control mb-4 col-4">
    <input type="text" th:field="*{nationcode}" placeholder="nationcode" class="form-control mb-4 col-4">
    <input type="text" th:field="*{nationkoname}" placeholder="nationkoname" class="form-control mb-4 col-4">
    <input type="text" th:field="*{nationenname}" placeholder="nationenname" class="form-control mb-4 col-4">
    <input type="text" th:field="*{nationcnname}" placeholder="nationcnname" class="form-control mb-4 col-4">
    <input type="text" th:field="*{nationjpname}" placeholder="nationjpname" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save Summary</button>
  </form>

  <hr>

  <a th:href="@{/}"> Back to Summary List</a>
</div>
</body>
</html>