<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ropi.ropispring.DAO.SummaryDAO">

    <insert id="setSummary" parameterType="com.ropi.ropispring.Model.Summary">
        INSERT INTO ropi.TEST_SUMMARY_TB (SYMBOL, COUNTRYCODE, SECTORCODE, INDUSTRYCODE, KONAME, ENNAME, CNNAME, KOSUMMARY, ENSUMMARY, CNSUMMARY, JPSUMMARY, TRADUNIT, NATIONCODE, NATIONKONAME, NATIONENNAME, NATIONCNNAME, NATIONJPNAME)
            VALUES (#{symbol}, #{countrycode}, #{sectorcode}, #{industrycode}, #{koname}, #{enname}, #{cnname}, #{kosummary}, #{ensummary}, #{cnsummary}, #{jpsummary}, #{tradunit}, #{nationcode}, #{nationkoname}, #{nationenname}, #{nationcnname}, #{nationjpname})
            ON DUPLICATE KEY
            UPDATE(SECTORCODE=#{sectorcode}, INDUSTRYCODE=#{industrycode}, KONAME=#{koname}, ENNAME=#{enname}, CNNAME=#{cnname}, KOSUMMARY=#{kosummary}, ENSUMMARY=#{ensummary}, CNSUMMARY=#{cnsummary}, JPSUMMARY=#{jpsummary}, TRADUNIT=#{tradunit}, NATIONCODE=#{nationcode}, NATIONKONAME=#{nationkoname}, NATIONENNAME=#{nationenname}, NATIONCNNAME=#{nationcnname}, NATIONJPNAME=#{nationjpname})
    </insert>

    <select id="listSummary" resultType="com.ropi.ropispring.Model.Summary">
        SELECT * FROM ropi.TEST_SUMMARY_TB;
    </select>

    <select id="getSummary" resultType="com.ropi.ropispring.Model.Summary">
        SELECT * FROM ropi.TEST_SUMMARY_TB where SYMBOL=#{symbol};
    </select>

    <delete id="deleteSummary" parameterType="com.ropi.ropispring.Model.Summary">
        delete from ropi.TEST_SUMMARY_TB where SYMBOL=#{symbol};
    </delete>

    <update id="updateSummary" parameterType="com.ropi.ropispring.Model.Summary">
        update ropi.TEST_SUMMARY_TB set COUNTRYCODE=#{countrycode},SECTORCODE=#{sectorcode},INDUSTRYCODE=#{industrycode}, KONAME=#{koname}, ENNAME=#{enname}, CNNAME=#{cnname}, KOSUMMARY=#{kosummary}, ENSUMMARY=#{ensummary}, CNSUMMARY=#{cnsummary}, JPSUMMARY=#{jpsummary}, TRADUNIT=#{tradunit}, NATIONCODE=#{nationcode}, NATIONKONAME=#{nationkoname}, NATIONENNAME=#{nationenname}, NATIONCNNAME=#{nationcnname}, NATIONJPNAME=#{nationjpname} where SYMBOL=#{symbol};
    </update>

</mapper>