<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ropi.ropispring.DAO.SummaryDAO">

    <insert id="setSummary" parameterType="com.ropi.ropispring.Model.Summary">
        INSERT INTO
        	SUMMARY_TB (SYMBOL, COUNTRYCODE, SECTORCODE, INDUSTRYCODE, KONAME, ENNAME, CNNAME, KOSUMMARY, ENSUMMARY, CNSUMMARY, JPSUMMARY, TRADUNIT, NATIONCODE, NATIONKONAME, NATIONENNAME, NATIONCNNAME, NATIONJPNAME)
		VALUES
			(#{symbol}, #{countrycode}, #{sectorcode}, #{industrycode}, #{koname}, #{enname}, #{cnname}, #{kosummary}, #{ensummary}, #{cnsummary}, #{jpsummary}, #{tradunit}, #{nationcode}, #{nationkoname}, #{nationenname}, #{nationcnname}, #{nationjpname})
 		ON DUPLICATE KEY UPDATE
			SECTORCODE = values(SECTORCODE),
			INDUSTRYCODE = values(INDUSTRYCODE),
			KONAME = values(KONAME),
			ENNAME = values(ENNAME),
			CNNAME = values(CNNAME),
			KOSUMMARY = values(KOSUMMARY),
			ENSUMMARY = values(ENSUMMARY),
			CNSUMMARY = values(CNSUMMARY),
			JPSUMMARY = values(JPSUMMARY),
			TRADUNIT = values(TRADUNIT),
			NATIONCODE = values(NATIONCODE),
			NATIONKONAME = values(NATIONKONAME),
			NATIONENNAME = values(NATIONENNAME),
			NATIONCNNAME = values(NATIONCNNAME),
			NATIONJPNAME = values(NATIONJPNAME)
    </insert>

    <select id="listSummary" resultType="com.ropi.ropispring.Model.Summary">
        SELECT
			A.*, B.kosectorname, C.koindustryname
		FROM
			SUMMARY_TB AS A
		LEFT OUTER JOIN
			SECTOR_TB AS B ON B.sectorcode = A.sectorcode
		LEFT OUTER JOIN
			INDUSTRY_TB AS C ON C.industrycode = A.industrycode
        LIMIT
			#{page}, #{pageSize};
    </select>

    <select id="getSummary" resultType="com.ropi.ropispring.Model.Summary">
        SELECT
			A.*, B.kosectorname, C.koindustryname
		FROM
			SUMMARY_TB AS A
		LEFT OUTER JOIN
			SECTOR_TB AS B ON B.sectorcode = A.sectorcode
		LEFT OUTER JOIN
			INDUSTRY_TB AS C ON C.industrycode = A.industrycode
		WHERE
			symbol=#{symbol} AND COUNTRYCODE=#{countrycode};
    </select>

    <delete id="deleteSummary" parameterType="com.ropi.ropispring.Model.Summary">
        delete from SUMMARY_TB where SYMBOL=#{symbol} AND COUNTRYCODE=#{countrycode};
    </delete>

    <update id="updateSummary" parameterType="com.ropi.ropispring.Model.Summary">
        UPDATE
        	SUMMARY_TB
        SET
        	SECTORCODE=#{sectorcode}, INDUSTRYCODE=#{industrycode}, KONAME=#{koname}, ENNAME=#{enname}, CNNAME=#{cnname}, KOSUMMARY=#{kosummary}, ENSUMMARY=#{ensummary}, CNSUMMARY=#{cnsummary}, JPSUMMARY=#{jpsummary}, TRADUNIT=#{tradunit}, NATIONCODE=#{nationcode}, NATIONKONAME=#{nationkoname}, NATIONENNAME=#{nationenname}, NATIONCNNAME=#{nationcnname}, NATIONJPNAME=#{nationjpname} where SYMBOL=#{symbol} AND COUNTRYCODE=#{countrycode};
    </update>

	<select id="checkSummary" parameterType="com.ropi.ropispring.Model.Summary" resultType="int">
		select COUNT(*) from SUMMARY_TB WHERE countrycode = #{countrycode} and symbol = #{symbol};
	</select>

    <select id="dbCheck" resultType="String">
        select database();
    </select>
    
    <select id="getSummaryCount" resultType="int">
    	select count(*) from SUMMARY_TB;
    </select>
    
	<select id="getSectorList" resultType="com.ropi.ropispring.Model.Sector">
    	select * from sector_tb;
	</select>
	
	<select id="getIndustryList" resultType="com.ropi.ropispring.Model.Industry">
    	select * from industry_tb;    
    </select>
</mapper>