<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ropi.ropispring.DAO.SummaryDAO">

    <insert id="setSummary" parameterType="com.ropi.ropispring.Model.Summary">
        INSERT INTO ropi.TEST_SUMMARY_TB (SYMBOL, COUNTRYCODE, SECTORCODE, INDUSTRYCODE, KONAME, ENNAME, CNNMAE, KOSUMMARY, ENSUMMARY, CNSUMMARY, JPSUMMARY, TRADUNIT, NATIONCODE, NATIONKONAME, NATIONENNAME, NATIONCNNAME, NATIONJPNAME)
            VALUE (#{symbol}, #{countrycode}, #{sectorcode}, #{industrycode}, #{koname}, #{enname}, #{cnname}, #{kosummary}, #{ensummary}, #{cnsummary}, #{jpsummary}, #{tradunit}, #{nationcode}, #{nationkoname}, #{nationenname}, #{nationcnname}, #{nationjpname})
    </insert>

    <select id="listSummary" resultType="com.ropi.ropispring.Model.Summary">
        SELECT * FROM ropi.TEST_SUMMARY_TB;
    </select>

    <delete id="deleteSummary" parameterType="com.ropi.ropispring.Model.Summary">
        delete from ropi.TEST_SUMMARY_TB where SECTORCODE=#{sector_code} and INDUSTRY_CODE=#{industry_code};
    </delete>

    <update id="updateSummary" parameterType="com.ropi.ropispring.Model.Summary">
        update ropi.TEST_SUMMARY_TB set SYMBOL=#{symbol}, COUNTRYCODE=#{country_code}, KONAME=#{ko_name}, ENNAME=#{en_name}, CNNMAE=#{cn_name}, KOSUMMARY=#{ko_summary}, ENSUMMARY=#{en_summary}, CNSUMMARY=#{cn_summary}, JPSUMMARY=#{jp_summary}, TRADUNIT=#{trad_unit}, NATIONCODE=#{nation_code}, NATIONKONAME=#{nation_ko_name}, NATIONENNAME=#{nation_en_name}, NATIONCNNAME=#{nation_cn_name}, NATIONJPNAME=#{nation_jp_name} where SECTORCODE=#{sector_code} and INDUSTRYCODE=#{industry_code}
    </update>

</mapper>